language: objective-c
osx_image: xcode8

env:
  global:
    - LC_CTYPE=en_US.UTF-8

script:
  - set -o pipefail
  - xcodebuild test -scheme DelegateProxy -configuration Release -sdk macosx -destination 'platform=OS X,arch=x86_64' ENABLE_TESTABILITY=YES | xcpretty -c
  - xcodebuild test -scheme DelegateProxy -configuration Release -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone 6s' ENABLE_TESTABILITY=YES | xcpretty -c
  - xcodebuild test -scheme DelegateProxy -configuration Release -sdk appletvsimulator -destination "platform=tvOS Simulator,name=Apple TV 1080p" ENABLE_TESTABILITY=YES | xcpretty -c
  - xcodebuild build -scheme DelegateProxy -configuration Release -sdk watchsimulator -destination 'platform=watchOS Simulator,name=Apple Watch - 38mm' ENABLE_TESTABILITY=YES | xcpretty -c

notifications:
  email: false
